<!--ITERACCION SOBRE LA VARIABLE DE INTANCIA Y PRESENTACION DE DATOS MEDIANTE INTERPOLACION

para poner ngestylo o clas se ponen [estyle.with.%]="progreso.porcentajes"


-->

<div class="row">
  <h3 class="mt">porcentajes</h3>
</div>
<button *ngIf="isLogged" type="button" class="btn btn-light" routerLink="/nuevporce" title="Agregar"><i class="bi bi-plus"></i></button>

<ul>
  <li *ngFor="let porsentaje of porcentajes">
  <div class="container text-fluit">
  <div class="row">
    <div class="col-3"  > <br><br>
      <H2 >{{porsentaje.habilidades}}
        </H2>  
    </div>
    <div class="col-3">
      
        <div class="progress-circle-container">
          <div class="progress-circle {{porsentaje.progres}}"> <span>
            <i class="{{porsentaje.classe}}"></i> {{porsentaje.porcentajes}}</span></div>
        </div>
      
    </div>
    <div class="col-3">
      <button  *ngIf="isLogged" class="btn btn-danger" (click)="delet(porsentaje.id)">
        <i class="bi bi-trash3" title="Eliminar"></i>
      </button>
    </div>
    </div>
  </div>
</li>
</ul>

