<!--secc sobre mi-->
<section id="sobre-mi " class="about">
  <div class="container text-center">
     <div class="row">
        <div class="col-6 text-center" id="sobre"><br><br><br><br><br><br>
           <h3 class="nombre"> <{{ nombre }} <br> {{ apellido }}> <br>Full Stack Developer Jr.></h3>
        </div>
        <div class="col-6 mt-4">
           <h5 class="text-light"> Me precento  cuevs,<br>
            A través de esta letra y mi CV adjunto, quisiera presentarles mi perfil y expresarles toda mi motivación por desarrollar la misión como {{ acerca }}.
            Durante mis últimas experiencias laborales, he trabajado para varias empresas, donde he podido adquirir y desarrollar fuertes conocimientos en trabajo en equipo, entre otros, los cuales me gustaría compartir con ustedes y seguir profundizando junto a un equipo dinámico y motivador.
            Para mí sería un placer poder encontrarnos en un futuro y poder discutir más.
            Gracias por haber tomado el tiempo de leer mi carta.
            Un saludo cordial.
            <br><hr>
                              {{ nombre}} {{apellido}}<hr>
           </h5>
        </div>
        <!--foto de perfil-->
        <app-fotoperfil></app-fotoperfil>
        <div class="col-2 ">
        </div>
        <!--fin-->
     </div>
  </div>
</section>
