<div class="container">
  <div class="row">
    <div>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)" novalidate #f="ngForm" name="educacionForm">
        <div class="form-group">
          <label for="educacionNombreEmpresa" class="form-label">Empresa</label>
                  <input type="text" class="form-control"  formControlName="nombreEmpresa" >
          <!--<label for="educaciontitulo">Nombre del titulo</label>
          <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>-->
        </div> 
        <div class="form-group">
          <label for="educacionPuesto" class="form-label">Puesto</label>
                  <input type="text" class="form-control"  formControlName="Puesto" >
        </div>
        <div class="form-group">
          <label for="educacionImagen" class="form-label">Logo de la Empresa</label>
                  <input type="url" placeholder="URL de imagen" class="form-control"  formControlName="imagen" >
        </div>
        <div class="form-group">
          <label for="educacionPeriodoInicio" class="form-label">Agregar Periodo Inicio</label>
          <input type="date" class="form-control"  formControlName="inicio" >

          <!--<label for="inicio">Inicio</label>
          <input type="date" class="form-control" id="inicio" name="inicio" [(ngModel)]="edu.inicio" required>-->
        </div>
        <div class="form-group">
          <label for="educacionPeriodoFin" class="form-label">Agregar Fin Periodo</label>
                  <input type="date" class="form-control"  formControlName="fin" >
         <!-- <label for="fin">Fin del estudio</label>
          <input type="date" class="form-control" id="fin" name="fin" [(ngModel)]="edu.fin" required>-->
        </div><br>
        <button class="btn btn-primary">
          Agregar nueva experiencia laboral
        </button>
      </form>
    </div>
  </div>
</div>

