<div class="container">
  <div class="row">
    <div>
      <form [formGroup]="form" (ngSubmit)="onEnvia($event)" novalidate #f="ngForm" name="educacionForm">
        <div class="form-group">
          <label for="educacionTitulo" class="form-label">Agregar Titulo</label>
                  <input type="text" class="form-control"  formControlName="titulo" >
          <!--<label for="educaciontitulo">Nombre del titulo</label>
          <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>-->
        </div>
        <div class="form-group">
          <label for="educacionPeriodoInicio" class="form-label">Agregar Periodo Inicio</label>
          <input type="date" class="form-control"  formControlName="inicio" >

          <!--<label for="inicio">Inicio</label>
          <input type="date" class="form-control" id="inicio" name="inicio" [(ngModel)]="edu.inicio" required>-->
        </div>
        <div class="form-group">
          <label for="educacionPeriodoFin" class="form-label">Agregar Fin Periodo</label>
                  <input type="date" class="form-control"  formControlName="fin" >
         <!-- <label for="fin">Fin del estudio</label>
          <input type="date" class="form-control" id="fin" name="fin" [(ngModel)]="edu.fin" required>-->
        </div><br>
        <button class="btn btn-primary">
          agregar educacion
        </button>
      </form>
    </div>
  </div>
</div>
