 <!--proyectos-->
 <section id="sobre-mi " class="proyectos">
  <div class="container text-center">
     <div class="row">
        <div class="col-3 ">
           <br> 
           <h3><em> < Baez <br>Albino ></em></h3>
        </div>
        <div class="col-6 mt-4  p-5">
           <h3 class="mt">proyectos</h3>
         
        </div>
        <div class="col-3">  <h5 class="mt-2">cLorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolor natus possimus repellat magni odio quisquam explicabo quae eius, illum cumque ipsum ullam, laboriosam perferendis culpa quaerat, provident facere harum.</h5>
        </div>
     </div>
  </div>
</section>
