<!--ITERACCION SOBRE LA VARIABLE DE INTANCIA Y PRESENTACION DE DATOS MEDIANTE INTERPOLACION

para poner ngestylo o clas se ponen [estyle.with.%]="progreso.porcentajes"


-->



<ul>
  <li *ngFor="let progreso of progresos">
  <div class="container text-fluit">
  <div class="row">
    <div class="col-3"  > <br><br>
      <H2 >{{progreso.habilidades}}
        </H2>  
    </div>
    <div class="col-3">
      
        <div class="progress-circle-container">
          <div class="progress-circle {{progreso.progres}}"> <span>
            <i class="{{progreso.class}}"></i> {{progreso.porcentajes}}</span></div>
        </div>
      
    </div>
    <div class="col-3">
    </div>
    </div>
  </div>
</li>
</ul>
