
i.fa-brands.fa-linkedin.fa-2xl,
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-twitter.fa-2xl,
i.fa-solid.fa-user-lock.fa-2xl,
i.fa-solid.fa-user.fa-2xl{

  color:rgb(243, 249, 246);
}
/*logos*/
i.fa-brands.fa-linkedin.fa-2xl:hover{
  color:rgb(9, 25, 250);
  transition: transform 0.3s ease-in-out;
  transform: scale(1.25);
  
}
 i.fa-brands.fa-instagram.fa-2xl:hover{
  color: rgb(236, 8, 11);
  transition: transform 0.3s ease-in-out;
  transform: scale(1.25);
} 
i.fa-brands.fa-twitter.fa-2xl:hover{
  color: rgb(54, 108, 243);
  transition: transform 0.3s ease-in-out;
  transform: scale(1.25);
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
  color: rgb(5, 247, 138);
  transition: transform 0.3s ease-in-out;
  transform: scale(1.25);
}
i.fa-solid.fa-user.fa-2xl:hover{
  color: rgb(12, 185, 238);
}
.list-group{
  --bs-list-group-bg: tranparent;
  --bs-list-group-border-color: tranparent;
  }
  .form-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  
  .form-item {
    margin: 2px;
  }
  